<!DOCTYPE html>
<html>

{% extends "blocks/base.html" %}
{% load static %}
{% block content %}

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js" integrity="sha512-vSyPWqWsSHFHLnMSwxfmicOgfp0JuENoLwzbR+Hf5diwdYTJraf/m+EKrMb4ulTYmb/Ra75YmckeTQ4sHzg2hg==" crossorigin="anonymous"></script>
<script type="text/javascript">


        var usrlog= $('#movimentar').val();
        $(document).ready(function(){

            $('#mov').change(function(){
                $('#alt-mov').modal('show');

            });
            $('#confirm').click(function(){
                var x='';
                var cnt=0;
                $(":checkbox").each(function () {
                    if(cnt ==0){
                        var ischecked = $(this).is(":checked");

                        tkn = '{{ csrf_token }}';
                        if (ischecked) {x =  "L";}else{x= "D";}

                        $.ajax({
                        headers: { "X-CSRFToken": '{{csrf_token}}' },
                        type: 'POST',
                        url: "{% url 'administrador' %}",
                        data: {'movimento' :x},
                        success: function (response) {

                        },
                        error: function (response) {
                        }
                        });
                    }
                    cnt++;
                });
            });
            $('#cancel').click(function(){
                location.reload();
                $("#set_pg_top").click();


            });
            $('.close').click(function(){
                location.reload();
                $("#set_pg_top").click();
            });


        });
        $(document).on('click','.del_prod', function(){

            $('#x_pedido').val($(this.val()));


        });

        $(document).on('change','#comandas_rel', function(){
            $('#blocks').empty();
            var form ='';
            form += '<div class="row justify-content-center ">';

            form += '<div class=" col"><label for="nome_comanda">Nome</label><input type="text" class="form-control" id="nome_comanda" placeholder="Nome"></div>';

            form += '<div class=" col"><label for="nmesa_comanda">Número da mesa</label><input type="number" class="form-control" id="nmesa_comanda" placeholder="Nº mesa"></div>';

            form += '</div>';
            form += '<div class="row pt-4 justify-content-around">';

            form += '<div class="col-sm-4 justify-content-around">';
            form += '<label for="status_comanda">Status</label>';
            form += '<select id="status_comanda" class="form-control">';
            form += '<option selected disabled>Selecione</option><option value="A" >Aberto</option><option value="F">Fechado</option>';
            form += '</select></div>';

            form += '<div class="col-sm-4 justify-content-around">';
            form += '<label for="cat_comanda">Categoria</label><select id="cat_comanda" class="form-control">';
            form += '<option selected disabled>Selecione</option><option value=1 >Mais caro primeiro</option><option value=2>Mais baratas primeiro</option>';
            form += '</select></div>';

            form += '</div>';

            $('.select_date').show();
            $('#blocks').append(form);



        });
        $(document).on('change','#pedidos_rel', function(){
            $('#blocks').empty();
            var form ='';
            form += '<div class="row justify-content-center ">';

            form += '<div class=" col"><label for="nome_pedido">Nome</label><input type="text" class="form-control" id="nome_comanda" placeholder="Nome"></div>';
            form += '<div class=" col"><label for="nmesa_comanda">Número da mesa</label><input type="number" class="form-control" id="nmesa_comanda" placeholder="Nº mesa"></div>';
            form += '</div>';

            form += '<div class="row pt-4 justify-content-around">';

            form += '<div class="col-sm-4 justify-content-around">';
            form += '<label for="status_pedido">Status</label>';

            form += '<div class="dropdown"><button class="btn btn-secondary btn btn-lg dropdown-toggle" type="button" id="statsped" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status Pedido</button>';
            form+='<div class="dropdown-menu  pr-6" aria-labelledby="statsped">';
            form+='<ul style="list-style: none;" >';

            form+='<li class="ms-select-all"><label><input type="checkbox" data-name="selec_pedido[]" value="1"> Pedido realizado</label></li>';
            form+='<li class="ms-select-all"><label><input type="checkbox" data-name="selec_pedido[]" value="2"> Fazendo</label></li>';
            form+='<li class="ms-select-all"><label><input class="" type="checkbox" data-name="selec_pedido[]" value="3"> Saiu para entrega</label></li>';
            form+='<li class="ms-select-all"><label><input type="checkbox" data-name="selec_pedido[]" value="4"> Foi entregue</label></li>';
            form+='<li class="ms-select-all"><label><input type="checkbox" data-name="selec_pedido[]" value="5"> Cancelado</label></li>';
            form+='</ul></div></div></div>';


            form += '<div class="col-sm-4 justify-content-around">';
            form += '<label for="cat_comanda">Categoria</label><select id="cat_comanda" class="form-control">';
            form += '<option selected disabled>Selecione</option><option value=1 >Mais caro primeiro</option><option value=2>Mais baratas primeiro</option>';
            form += '</select></div>';

            form+='';
            form+='</div>';

            $('.select_date').show();
            $('#blocks').append(form);


        });



        $(document).on('change','#produtos_rel', function(){
            $('#blocks').empty();
            $('.select_date').hide();



            var form ='';
            form += '<div class="row justify-content-center ">';
<!--            form += '<label for="tipo_prod">Por produto</label>';-->
            form += '<div class="dropdown"><button class="btn btn-secondary btn btn-lg dropdown-toggle" type="button" id="tipo_prod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Por produto</button>';
            form+='<div class="dropdown-menu" aria-labelledby="tipo_prod">';
            form+='<ul style="list-style: none;" >';

            {% for p in prod %}
                form+='<li style="list-style: none;" class="ms-select-all"><label><input type="checkbox" data-name="selec_produto[]" value={{p.id}}> {{p.nome}}</label></li>';
            {% endfor %}
            form+='</ul></div></div></div>';


            form += '<div class="row pt-4 justify-content-center">';

            form += '<div class="col-sm-4 justify-content-center">';
            form += '<label for="tipo_prod">Ordenação</label><select id="tipo_prod" class="form-control">';
            form += '<option selected disabled>Selecione</option><option value=1 >Mais caro primeiro</option><option value=2>Mais baratas primeiro</option>';
            form += '</select></div>';


            form += '<div class="col-sm-4 justify-content-center">';
            form += '<label for="cat_comanda">Tipo do produto</label><select id="cat_comanda" class="form-control">';
            form += '<option selected disabled>Selecione</option><option value=1 >Alimento</option><option value=2>Bebida</option>';
            form += '</select></div>';

            form+='</div>';


            $('#blocks').append(form);

        });
        $(document).on('change','#recebimentos_rel', function(){
            $('#blocks').empty();
            var form ='';
            form += '<div class="row justify-content-center ">';

            form += '<div class=" col"><label for="nome_comanda">Nome da comanda</label><input type="text" class="form-control" id="nome_comanda" placeholder="Nome da comanda"></div>';
            form += '<div class=" col"><label for="nmesa_comanda">Número da mesa</label><input type="number" class="form-control" id="nmesa_comanda" placeholder="Nº mesa"></div>';
            form += '</div>';

            $('.select_date').show();
            $('#blocks').append(form);

        });

        $(document).on('change','#rel_btn', function(){

            $('.select_date').hide();
        });





    </script>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
            <button style="font-size: 22px;  align-self: right" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    <header class="text-center align-content-center masthead text-white text-center" style="background-color: rgb(255,255,255);padding-top: 70px;">
        <div class="align-content-center ">
            <h1 class="text-center align-content-center p-1 m-auto" style="align-content: center; padding: 5px;color: rgb(44,62,80)">
                Iniciar movimento</h1>
        </div>
        <div class="container-fluid align-content-center" style="color: rgb(241,234,72);width: auto;padding: 5px;margin: 7px;">
            <div class="row text-center justify-content-center m-auto" style="margin: 6px;padding: 5px;min-height: auto;">

                <div class="col-auto text-center justify-content-center m-auto" style="width: 554px;margin: 4px;padding: 3px;min-height: 21px;">
                    <div class="btn-group btn-group-lg justify-content-center align-items-center" id="movimento" role="group" style="height: 60%;width: 80%;padding: 2px;min-width: 20px;">
                            {% if mov == "L" %}
                                <input  checked id='mov' name='mov' style="font-size:large;" data-on="Funcionando" data-off="Finalizado" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-success" data-width="150" data-height="150" >
                            {% else %}
                                <input  id='mov' name='mov' style="font-size:large;" data-on="Funcionando" data-off="Finalizado" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-success" data-width="150" data-height="150" >
                            {% endif %}
                    </div>
<!--                    funçao de zerar historico-->
                    <button class="btn btn-primary text-center border rounded border-dark" type="button" style=" height: auto;padding: 13px;margin: 7px;font-size: 31px;margin-top: 29px;" data-toggle="modal" data-target="#novoProduto">PRODUTOS</button>
                    <div class="modal mx-6 px-6" role="document" tabindex="-1" id="novoProduto">
                        <div class="card">
                            {% if form %}
                            <form method="POST" id="newprod" >
                                <div class="modal-content border bg-secondary">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Novo Produto</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                        </p>
                                    </div>
                                    <div class="modal-footer"><div><button class="btn btn-primary" type="submit">Salvar</button></div><div><button class="btn btn-light" type="button" data-dismiss="modal">Fechar</button></div></div>
                                </div>
                            </form>
                            {% endif %}


                            {% for pro in prod %}
                                <div class="card border bg-secondary mt-2" >
                                    <div class="card-body">
<!--                                            habilitar campo aberto para alteraçoes-->
                                        <h5 class="card-title">{{pro.nome}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" font-italic>{{pro.preco}}</h6>
                                        <p class="card-text font-weight-bold text-capitalize"><h7>{{pro.descricao}}</h7></p>
                                        <form action="{% url 'administrador' %}" method="post" name="prod_x">

                                            <input hidden name="prod_x" id="x_pedido" value="{{pro.id}}">
                                            {% csrf_token%}
                                            <button type="submit" class="btn btn-danger del_prod" value="{{ pro.id }}" >Deletar</button>
                                        </form>

<!--                                            <a href="#" class="card-button">salvar alterações</a>-->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                    </div>
                    <button class="btn btn-primary text-center border rounded border-dark" id="rel_btn" type="button" style=" height: auto;padding: 13px;margin: 7px;font-size: 31px;margin-top: 29px;" data-toggle="modal" data-target="#relatorio">Relatórios</button>
                    <div class="modal mx-6 px-6" role="document" tabindex="-1" id="relatorio">
                        <div class="card">


                            <div class="card border bg-secondary mt-2" >
                                <div class="card-body">
<!--                                            habilitar campo aberto para alteraçoes-->
                                    <h3 class="card-title">{{'Relatórios'}}</h3>
                                    <p>
                                    <hr style="display: block; margin-top: 0.5em; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="comandas_rel" name="radio_opc" class="custom-control-input" required>
                                          <label class="custom-control-label" for="comandas_rel">Comandas</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="pedidos_rel" name="radio_opc" class="custom-control-input" required>
                                          <label class="custom-control-label" for="pedidos_rel">Pedidos</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="produtos_rel" name="radio_opc" class="custom-control-input" required>
                                          <label class="custom-control-label" for="produtos_rel">Produtos</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="recebimentos_rel" name="radio_opc" class="custom-control-input" required>
                                          <label class="custom-control-label" for="recebimentos_rel">Recebimentos</label>
                                        </div>
                                    <p>
                                    <hr style="display: block; margin-top: 0.5em; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                    <form name="consulta_adm" method="get">
                                        <div class="row justify-content-center select_date">
                                            <div class="form-group form-group-inline d-lg-inline-flex flex-column row">
                                              <h6><label for="date_de" class="col-4 col-form-label d-inline">DE</label></h6>
                                              <div class="col-12">
                                                <input class="form-control" type="date" id="date_de">
                                              </div>
                                            </div>
                                            <div class="form-group form-group-inline d-lg-inline-flex flex-column">
                                              <h6><label for="date_ate" class="col-4 col-form-label d-inline ">ATÉ</label></h6>
                                              <div class="col-12">
                                                <input class="form-control" type="date" id="date_ate">
                                              </div>
                                            </div>
                                        </div>
                                        <p>
                                        <hr style="display: block; margin-top: 0.5em; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                        <div id="blocks">

                                        </div>
                                        <p>
                                        <hr style="display: block; margin-top: 0.5em; margin-bottom: 20px; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                        <button class="btn btn-primary btn-lg btn-block" type="submit" id="consulta">Consultar</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal bg-danger text-danger" role="dialog" tabindex="-1" id="alt-mov">
                        <div class="modal-dialog modal-dialog-centered" role="document" >

                            <div class="modal-content bg-light">
                                <div class="modal-header">
                                    <h4 class="modal-title text-light">Movimento</h4><button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body text-sucess">
                                    <p>
                                    <h2><b>Deseja mesmo realizar esta ação ?</b></h2>
                                    </p>
                                    {% if logado %}

                                            <input type="hidden"  id="movimentar">
                                    {% endif %}
                                        <button type="submit" class="btn btn-sucess border btn-lg btn-block bg-warning" data-dismiss="modal" id="confirm">Confirmar</button>
                                </div>
                                <div class="modal-footer"><button id=cancel class="btn btn-danger" type="button" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>
{% endblock %}
</html>