<!DOCTYPE html>
<html>

{% extends "blocks/base.html" %}
{% load static %}
{% block content %}

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
    <script type="text/javascript">

        var usrlog= $('#movimentar').val();
        $(document).ready(function(){
            $('#mov').change(function(){
                $('#alt-mov').modal('show');
            });
            $('#confirm').click(function(){
                var x='';
                var cnt=0;
                $(":checkbox").each(function () {
                    if(cnt ==0){
                        var ischecked = $(this).is(":checked");

                        tkn = '{{ csrf_token }}';
                        if (ischecked) {x =  "L";}else{x= "D";}

                        $.ajax({
                        headers: { "X-CSRFToken": '{{csrf_token}}' },
                        type: 'POST',
                        url: "{% url 'administrador' %}",
                        data: {'movimento' :x},
                        success: function (response) {

                        },
                        error: function (response) {
                        }
                        });
                    }
                    cnt++;
                });
            });
            $('#cancel').click(function(){
                alert(' ação quase cancelada...');


            });


        });








    </script>
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
            <button style="font-size: 22px;  align-self: right" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    <header class="text-center align-content-center masthead text-white text-center" style="background-color: rgb(255,255,255);height: auto;min-height: 600px;max-height: 700px;margin: 11px;padding: 7px;padding-top: 70px;">
        <div class="align-content-center align-content-cente ">
            <h1 class="text-center align-content-center m-auto" style="align-content: center; padding: 5px;color: rgb(44,62,80);width: 534px;height: 79px;">
                Iniciar movimento</h1>
        </div>
        <div class="container-fluid align-content-center" style="color: rgb(241,234,72);width: auto;height: 302px;padding: 5px;margin: 7px;max-height: auto;">
            <div class="row text-center justify-content-center m-auto" style="width: 544px;margin: 6px;padding: 5px;margin-right: 0px;max-height: auto;min-height: auto;">

                <div class="col-auto text-center justify-content-center m-auto" style="width: 554px;margin: 4px;padding: 3px;max-height: auto;min-height: 21px;height: 395px;">
                    <div class="btn-group btn-group-lg justify-content-center align-items-center" id="movimento" role="group" style="height: 60%;width: 80%;padding: 2px;min-width: 20px;">
                            {% if mov == "L" %}
                                <input  checked id='mov' name='mov' style="font-size:large;" data-on="Funcionando" data-off="Finalizado" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-success" data-width="150" data-height="150" >
                            {% else %}
                                <input  id='mov' name='mov' style="font-size:large;" data-on="Funcionando" data-off="Finalizado" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-success" data-width="150" data-height="150" >
                            {% endif %}
                    </div>
<!--                    funçao de zerar historico-->
                    <button class="btn btn-primary text-center border rounded border-dark" type="button" style=" height: auto; width: 50%;padding: 13px;margin: 7px;margin-left: 4px;font-size: 31px;margin-top: 29px;" data-toggle="modal" data-target="#novoProduto">PRODUTOS</button>
                        <div class="modal fade" role="dialog" tabindex="-1" id="novoProduto">
                            <div class="modal-dialog modal-lg " role="document">
                                {% if form %}
                                    <form method="POST" id="newprod" >
                                        <div class="modal-content border bg-primary">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Novo Produto</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                            <div class="modal-body">
                                                <p>
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                </p>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Fechar</button><button class="btn btn-primary" type="submit">Salvar</button></div>
                                        </div>
                                    </form>
                                {% endif %}

                            </div>
                            <div class="modal-dialog modal-lg bg-secondary" role="document">
                                {% for pro in prod %}
                                    <div class="card border bg-info" style="width: auto; margin: 4px;">
                                        <div class="card-body">
<!--                                            habilitar campo aberto para alteraçoes-->
                                            <h5 class="card-title">{{pro.nome}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{pro.preco}}</h6>
                                            <p class="card-text">{{pro.descricao}}</p>
                                            <a href="#" class="card-button">deletar produto</a>
                                            <a href="#" class="card-button">salvar alterações</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>


                        </div>
                        <div class="modal fade bg-danger text-danger" role="dialog" tabindex="-1" id="alt-mov">
                            <div class="modal-dialog" role="document" >

                                <div class="modal-content border-lg  bg-light">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-light">Movimento</h4><button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body text-sucess">
                                        <p>
                                        <h2><b>Deseja mesmo realizar esta ação ?</b></h2>
                                        </p>
                                        {% if logado %}

                                                <input type="hidden"  id="movimentar">
                                        {% endif %}
                                            <button type="submit" class="btn btn-sucess border btn-lg btn-block bg-warning" data-dismiss="modal" id="confirm">Confirmar</button>
                                    </div>
                                    <div class="modal-footer"><button id=cancel class="btn btn-danger" type="button" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                </div>
            </div>
        </div>
    </header>
{% endblock %}
</html>