{% extends "blocks/base.html" %}
{% load static %}
{% block content %}

    <script type="text/javascript">
    $(document).ready(function(){
        console.log($('.status_pedido').text());

    })

    </script>
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
            <button style="font-size: 22px;  align-self: right" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <header class="masthead text-white text-center" style="background-color: rgb(255,255,255);">

        <div style="align-self:center; color: rgb(241,234,72);width: 80%;height: 302px; margin-top: 15px;">


                <div class="row" style="width:95%">
                    <div class="col 70%">
                        <h1 class="text-primary" style="width:90%; padding: 18px; margin-bottom:17px;">FEED</h1>
                    </div>
                    <div class="col">
                        <a class="button" style=" margin-bottom:23px; margin-right:28px;align-content:right" href='#' data-toggle="#"><i class="fa fa"></i><b><span>Comandas</span></b> </a>

                    </div>
                </div>

                </row>
            </div>
                {% for pedido in pedidos %}
                <div class="row">
                    <div class="col">

                        <div class="card" style="color: rgb(33,37,41);">
                            <div class="card-header">
                                <h5 class="mb-0">Comanda - {{pedido.comandaref}}</h5>
                            </div>
                            <div class="card-body"><b>
                                {% for ped in pedido.produtosPed.all %}
                                    <p class="card-text">{{ped.nome}} </p>
                                {%endfor%}
                                <p class="card-text">{{pedido.quantidade}}</p>
                                <p class="card-text">{{pedido.observacao}}</p>
                            </b></div>
                            <hr>

                            <div class="pb-4">

                                <div id="carouselExampleFade" class="carousel slide" data-interval="false" data-ride="carousel">
                                  <div class="carousel-inner">
<!--                                    {{choices}}-->
                                    {% for choice in choices%}
<!--                                      {{choice}}-->
                                      {% if choice == pedido.get_status_display %} <div class="carousel-item active"> {%else%} <div class="carousel-item">{%endif%}
                                            <div class="d-block status_pedido" >{{choice }}</div>
                                          </div>



                                    {%endfor%}


                                  </div>
                                  <a class="carousel-control-prev " href="#carouselExampleFade" role="button" data-slide="prev">
                                    <i class="angle-double-left" ></i>
                                  </a>
                                  <a class="carousel-control-next " href="#carouselExampleFade" role="button" data-slide="next">
                                    <i class="angle-double-right" ></i>
                                  </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </header>

{% endblock %}
</html>