{% extends "blocks/base.html" %}
{% load static %}
{% block content %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
            <button style="font-size: 22px;  align-self: right" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <header class="masthead text-white text-center" style="background-color: rgb(255,255,255);">
        <a class="button" style=" margin-bottom:23px; margin-right:28px;align-content:right" href='#' data-toggle="#"><i class="fa fa"></i><b><span>Comandas</span></b> </a>

        <div class="container" style="color: rgb(241,234,72);width: 355px;height: 302px; margin-top: 15px;">

            <div>
                <h1 class="text-primary" style="width:90%; padding: 18px; margin-bottom:23px;">FEED</h1>
            </div>
                {% for pedido in pedidos %}
                <div class="row">
                    <div class="col">

                        <div class="card" style="color: rgb(33,37,41);">
                            <div class="card-header">
                                <h5 class="mb-0">Comanda - {{pedido.nome}}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{pedido.produtosPedido}}</p>
                                <p class="card-text">{{pedido.comanda}}</p>
                                <p class="card-text">{{pedido.observacao}}</p>
                            </div>

                            <div>
                                <h7 class="mb-0">Status do pedido
                                    <br>
                                    {{pedido.status}}
                                </h7>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </header>

{% endblock %}
</html>