{% extends "blocks/base.html" %}
{% load static %}
{% block content %}

    {% for pedido in pedidos %}
    <header class="masthead text-white text-center" style="background-color: rgb(255,255,255);">
        <div class="container" style="color: rgb(241,234,72);width: 355px;height: 302px;">
            <h1 class="text-primary" style="padding: 18px;">FEED</h1>
            <div class="row">
                <div class="col">

                    <div class="card" style="color: rgb(33,37,41);">
                        <div class="card-header">
                            <h5 class="mb-0">Comanda - {{pedido.nome}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{pedido.produtosPedido}}</p>
                            <p class="card-text">{{pedido.comanda}}</p>
                            <p class="card-text">{{pedido.observacao}}</p>
                        </div>

                        <div>
                            <h7 class="mb-0">Status do pedido
                                <br>
                                {{pedido.status}}
                            </h7>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endfor %}
{% endblock %}
</html>