<!DOCTYPE html>
<html>

{% extends "blocks/base.html" %}
{% load static %}
{% block content %}
{% load cloudinary %}


    <script>

    $(document).ready(function(){
        setTimeout( function() {
            location.reload();
            $("#set_pg_top").click();

        }, 80000);
        $('.pedB').click(function(){

            $('#prod_ped').text($(this).siblings('.card-title').text());
            let val = $(this).val();
            console.log($("#id_produtosPed option[value='" + val +"']").text());
            $("#id_produtosPed option[value='" + val +"']").attr("selected","selected");
            $('#id_produtosPed').hide();

        });
        $('.pedA').click(function(){

            $('#prod_ped').text( $(this).siblings('.card-title').text() );
            let val = $(this).val();
            console.log($("#id_produtosPed option[value='" + val +"']").text());
            $("#id_produtosPed option[value='" + val +"']").attr("selected","selected");
            $('#id_produtosPed').hide();
        });
        $('#n_comanda').click(function(){
            $("#id_valor").val(0.0)
        });


    });


    </script>

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
        <button type="button" style="font-size: 22px;  align-self: right" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
    <header class="masthead text-white text-center mb-5" style="background-color: rgb(255,255,255);">
        <div class="container-fluid align-content-center pb-1 mb-2"
             style="align-content: center; color: rgb(241,234,72);width: 95%; height: 302px;padding: 5px;margin: 7px;">
            <h1 class="text-center" style="padding: 15px;color: rgb(44,62,80);width: 100% ;height: 79px;">PRODUTOS</h1>
            <div class="row text-center justify-content-center mb-2">
                <div class="col-auto text-center justify-content-center m-auto">

                    <!--                    # botoes do modal-->

                    <div class="btn-group" role="group" style="height: 229px;width: 334px;padding: 2px;min-width: 8px;">
                        <button class="btn btn-primary border rounded border-dark" type="button" style="width: 169px;padding: 25px;padding-right: 15px;margin: 7px;height: 209px;"
                                data-toggle="modal" data-target="#pedBebidas"><small></small><i class="fa fa-beer" style="height: 70px;width: 66px;font-size: 59px;margin: 15px;padding: -55px;"></i>
                        </button>

                        <button class="btn btn-primary border rounded border-dark" type="button" style="width: 167px;margin: 10px;height: 206px;" data-toggle="modal"
                                data-target="#pedAlimento"><i class="fa fa-cutlery" style="height: 21px;width: 65px;font-size: 59px;"></i>
                        </button>

                    </div>
                    <div class="group">
                        <small style="padding: 16px;font-size: 36px;color: rgb(44,62,80);">BEBIDA</small>
                        <small style="padding: 9px;font-size: 32px;color: rgb(44,62,80);">ALIMENTO</small>
                    </div>
                    <!--                    # modal de aliemtno e bebibas-->
                    <!--                    {% for pro in prod %}-->
                    <!--                        {{pro.tipo}}-->
                    <!--                    {% endfor %}-->

                    <div class="modal fade" role="dialog" tabindex="-1" id="pedBebidas" style=" color: rgb(33,37,41);">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                {% for pro in prod %}
                                    {% if pro.tipo == 'B' %}
                                        <div class="card border border-secondary" style="width: auto; margin: 4px;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{pro.nome}}</h5>
                                                <img class="card-img-top pb-5" style="width: 18rem;" src="{{pro.img_prod.url}}" alt="">
                                                <hr>
                                                <h6 class="card-subtitle mb-2 text-muted">R$ {{pro.preco}}</h6>
                                                <p class="card-text">{{pro.descricao}}</p>
                                                {% if movi == "L" %}
                                                    {% if user.is_authenticated and perms.gerenciador.fazer_pedido  %}
                                                        <button class="btn btn-success btn-lg btn-block pedB" id="pedB"  name="pedbtn" data-toggle="modal" value="{{pro.id}}" data-target="#novoPedido" type="button"  >Fazer Pedido</button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% empty %}
                                <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                    <div class='text-align-center mt-8'>
                                            <div class='col text-align-center'><strong>
                                                Não existem alimentos cadastradas !
                                                Alimente o sistema !
                                            </strong></div>
                                    </div>
                                    <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="pedAlimento" style=" color: rgb(33,37,41);">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                {% for pro in prod %}
                                    {% if pro.tipo == 'A' and pro.quantidade > 0 and pro.cardapio == True%}
                                    <div class="card border border-secondary" style="width: auto; margin: 4px;">
                                        <div class="card-body">
                                            <h5 class="card-title">{{pro.nome}}</h5>
                                            <img class="card-img-top pb-5" style="width: 18rem;" src="{{pro.img_prod.url}}" alt="">
                                            <hr>
                                            <h6 class="card-subtitle mb-2 text-muted">R$ {{pro.preco}}</h6>
                                            <p class="card-text">{{pro.descricao}}</p>
                                            {% if movi == "L" %}
                                                {% if user.is_authenticated and perms.gerenciador.fazer_pedido %}
                                                    <button class="btn btn-success btn-lg btn-block pedA" id="pedA" data-toggle="modal" value="{{pro.id}}" name="pedbtn" data-target="#novoPedido" type="button" >Fazer Pedido</button>

                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% empty %}
                                    <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                    <div class='text-align-center mt-8'>
                                            <div class='col text-align-center'><strong>
                                                Não existem bebidas cadastradas !
                                                Alimente o sistema !
                                            </strong></div>
                                    </div>
                                    <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="novoPedido" style="color: rgb(33,37,41);">
                        <div class="modal-dialog modal-lg bg-gradient-secondary" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Novo Pedido</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button></div>
                                <form method="post" name="newpedido" >

                                    <div class="modal-body">


                                        <p><b><h2><label id="prod_ped"><u></u></label></h2></b></p>
                                        <hr>
                                        {% csrf_token %}
                                        <p><select class="mdb-select md-form" id="comandaref" name="comandaref">
                                          <option value="" disabled selected>Escolha a comanda</option>
                                            {{comandas}}
                                            {% for com in comandas %}
                                                <option value="{{com.id}}">{{com.nome}}</option>

                                            {%empty%}
                                                <option value="{{com.id}}">{{ 'Não existem comandas abertas' }}</option>
                                            {%endfor%}
                                        </select></p>
                                        <p>{{ pedido.quantidade }}</p>
                                        <p>{{ pedido.observacao }}</p>
                                        <p>{{ pedido.status }}</p>
                                        <p>{{ pedido.produtosPed }}</p>

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-success btn-lg btn-block" type="submit" >Confirmar pedido</button>
                                        <button class="btn btn-danger cancel" type="button" data-dismiss="modal" >Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {%if movi == "L" %}
                    {% if perms.gerenciador.abrir_comanda %}
<!--                            bptao da nova comanda-->
                            {% if user.is_authenticated and perms.gerenciador.abrir_comanda %}
                                <div style="margin: 10px;">
                                    <button class="btn btn-primary text-center border rounded border-dark" id="n_comanda"
                                            type="button" style="height: 86px;width: 329px;padding: 13px;margin: 7px;margin-left: 4px;font-size: 31px;margin-top: 29px;" data-toggle="modal" data-target="#novaComanda">NOVA COMANDA
                                    </button>
                                </div>
                            {% endif %}
                            <div class="modal fade" role="dialog" tabindex="-1" id="novaComanda" style="color: rgb(33,37,41);">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">Nova comanda</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">×</span></button>
                                        </div>
                                        <form method="post" name="newcomanda">
                                            <div class="modal-body">

                                                    {% csrf_token %}
                                                    <p>{{newcomanda.as_p}}</p>

                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-success btn-lg btn-block" type="submit" >Abrir comanda</button>
                                                <button class="btn btn-danger cancel" type="button" data-dismiss="modal" >Cancelar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {%endif%}
                {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
</html>