<!DOCTYPE html>
<html>

{% extends "blocks/base.html" %}
{% load static %}
{% block content %}
{% load cloudinary %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
    <header class="masthead text-dark text-center" style="background-color: rgb(255,255,255);">
        <div class="container " style=" align-content:center">
            {% if 'relareceb' in tp %}
                <h1 class="text-dark" style="padding: 18px;">{{'RECEBIMENTOS'}}</h1>
            {% elif 'relaprod' in tp %}
                <h1 class="text-dark" style="padding: 18px;">{{'PRODUTOS'}}</h1>
            {% elif 'relaped' in tp %}
                <h1 class="text-dark" style="padding: 18px;">{{'PEDIDOS'}}</h1>
            {% elif 'relacomanda' in tp %}
                <h1 class="text-dark" style="padding: 18px;">{{'COMANDAS'}}</h1>
            {% endif %}
            <br class="text-dark" style=" align-content:center">
                <p></p>
                <table class="table text-secondary text-align-center hover table-sm">
                {% for rel in relatorio %}


                    {% if 'relareceb' in tp %}
                        {% if forloop.first %}
                        <thead>
                            <tr>
                                <h4>
                                    <th scope="col">{{'nome' }}</th>
                                    <th scope="col">{{ 'status' }}</th>
                                    <th scope="col">{{ 'produto' }}</th>
                                    <th scope="col">{{ 'valor' }}</th>
                                    <th scope="col">{{'data de abertura' }}</th>
                                </h4>
                            </tr>
                        </thead></tbody>
                        {% endif %}
                        <tr >
                            {% for re in rel.pedidored.all %}
                                <th scope="row">{{ re.comandaref }}</th>
                            {% endfor %}
                            <td class="text-align-right">{{ rel.status }}</td>
                            {% for re in rel.pedidored.all %}
                                {% for r in re.produtosPed.all %}
                                    <td ><!--<img class="card-img-top"  src="{{r.img_prod.url}}" alt="{{ r.nome }}">--><br>{{ r.nome }}</td>
                                {% endfor %}
                            {% endfor %}
                            <td class="text-align-left">R$ {{ rel.valor }}</td>
                            <td >{{ rel.data }}</td>
                        </tr>
                    {% elif rel.status_pago != None %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
    <!--                            <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">-->
                                    <h4>
                                        <th scope="col">{{'nome' }}</th>
                                        <th scope="col">{{ 'produto'}}</th>
                                        <th scope="col">{{ 'quantidade' }}</th>
                                        <th scope="col">{{ 'status' }}</th>
                                        <th scope="col">{{'status paganento' }}</th>
                                        <th scope="col">{{'valor' }}</th>
                                        <th scope="col">{{'data' }}</th>
                                    </h4>
                                </tr>
                            </thead></tbody>

                        {% endif %}
                        <tr style="cursor: pointer"; >

                            <th scope="row" >{{ rel.comandaref }}</th>
                            {% for re in rel.produtosPed.all %}
                                <td style="width: 15%; max-height:auto" ><img class="card-img-top" src="{{re.img_prod.url}}" alt="{{ re.nome }}"><br>{{ re.nome }}</td>
                            {% endfor %}

                            <td >{{ rel.quantidade }}</td>
                            <td >{{ rel.status }}</td>
                            <td >{{ rel.get_status_pago_display }}</td>
                            <td >R$ {{ rel.valor }}</td>
                            <td >{{ rel.data }}</td>

                        </tr>
                    {% elif rel.descricao != None %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
    <!--                            <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">-->
                                    <h4>
                                        <th scope="col" style="height:25%">{{'item' }}</th>
                                        <th scope="col" style="height:25%">{{ 'tipo'}}</th>
                                        <th scope="col" style="height:25%">{{ 'preço' }}</th>
                                        <th scope="col" style="height:25%">{{ 'descrição' }}</th>
                                    </h4>
                                </tr>
                            </thead></tbody>

                        {% endif %}
                        <tr style="cursor: pointer"; >


                            <th scope="row" style="width: 15%; max-height:auto" ><img class="card-img"  src="{{rel.img_prod.url}}" alt="{{ rel.nome }}"><br>{{ rel.nome }}</th>
                            <td style="height:25%">{{ rel.tipo }}</td>
                            <td style="height:25%">R$ {{ rel.preco }}</td>
                            <td style="height:25%">{{ rel.descricao }}</td>
                        </tr>
                    {% elif rel.n_mesa != None %}
                        {% if forloop.first %}
                            <thead>
                                <tr>
    <!--                            <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">-->
                                    <h4>
                                        <th scope="col">{{'n_mesa' }}</th>
                                        <th scope="col">{{ 'nome'}}</th>
                                        <th scope="col">{{ 'valor' }}</th>
                                        <th scope="col">{{ 'status' }}</th>
                                        <th scope="col">{{ 'data' }}</th>
                                    </h4>
                                </tr>
                            </thead></tbody>

                        {% endif %}
                        <tr style="cursor: pointer"; >


                            <th scope="row">{{ rel.n_mesa }}</th>
                            <td >{{ rel.nome }}</td>
                            <td >R$ {{ rel.valor }}</td>
                            <td >{{ rel.status }}</td>
                            <td >{{ rel.data }}</td>

                        </tr>
                    {% endif %}
                    </tbody>
                {% empty %}
                    <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                    <div class='row text-align-center  hover' >
                        <div class='col text-align-center p3'>
                            <h3>{{'Sem resultados compatíveis com a consulta'}}</h3>
                        </div>
                    </div>
                    <p></p>
                {% endfor %}
                </table>

            <a href=""> <button type="button" class="btn btn-sucess border btn-lg btn-block bg-warning" data-href-template="administrador" id="confirm_cancel">Voltar</button></a>

        </div>
    </header>
{% endblock %}
</html>