<!DOCTYPE html>
<html>

{% extends "blocks/base.html" %}
{% load static %}
{% block content %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
    <header class="masthead text-white text-center" style="background-color: rgb(255,255,255);">
        <div class="container" style="color: rgb(241,234,72);height: 302px; align-content:center">
            <h1 class="text-dark" style="padding: 18px;">CARDÁPIO</h1>
            <div class="row" style=" align-content:center; padding: 18px">
                <p></p>
                {% for rel in relatorio %}
                    {% if 'pedidored' in rel %}
                        <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                        <div class='row text-secondary text-align-center hover'  style="cursor: pointer"; >
    <!--                                    <div class='col text-align-center'>-->
    <!--                                        {% if ped.status_pago != "P" %}-->
    <!--                                            <input type="checkbox" class="selec" name="{{com.id}}" id="prod_{{ped.id}}" value="{{ped.id}}">-->
    <!--                                        {% endif %}-->
    <!--                                    </div>-->

                            <div class='col text-align-left'>{{ rel.status }}</div>
                            <div class='col text-align-center'>R$ {{ rel.valor }}</div>
                            <div class='col text-align-center' >{{ rel.data }}</div>

    <!--                                    <div class='col text-align-right stt_pgt'>{{ ped.get_status_pago_display }}</div>-->
                        </div>
                    {% elif 'status_pago' in rel %}
                        <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                        <div class='row text-align-center pb-1 hover'  style="cursor: pointer"; >
    <!--                                    <div class='col text-align-center'>-->
    <!--                                        {% if ped.status_pago != "P" %}-->
    <!--                                            <input type="checkbox" class="selec" name="{{com.id}}" id="prod_{{ped.id}}" value="{{ped.id}}">-->
    <!--                                        {% endif %}-->
    <!--                                    </div>-->

                            <div class='col text-align-left'>{{ rel.comandaref.nome }}</div>
                            <div class='col text-align-center'>R$ {{ rel.produtosPed.all()[0] }}</div>
                            <div class='col text-align-center' >{{ rel.quantidade }}</div>
                            <div class='col text-align-center' >{{ rel.status }}</div>
                            <div class='col text-align-center' >{{ rel.status_pago }}</div>
                            <div class='col text-align-center' >{{ rel.valor }}</div>
                            <div class='col text-align-center' >{{ rel.data }}</div>

    <!--                                    <div class='col text-align-right stt_pgt'>{{ ped.get_status_pago_display }}</div>-->
                        </div>
                    {% elif 'descricao' in rel %}
                        <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                        <div class='row text-align-center pb-1 hover'  style="cursor: pointer"; >
    <!--                                    <div class='col text-align-center'>-->
    <!--                                        {% if ped.status_pago != "P" %}-->
    <!--                                            <input type="checkbox" class="selec" name="{{com.id}}" id="prod_{{ped.id}}" value="{{ped.id}}">-->
    <!--                                        {% endif %}-->
    <!--                                    </div>-->

                            <div class='col text-align-left'>{{ rel.status }}</div>
                            <div class='col text-align-center'>R$ {{ rel.valor }}</div>
                            <div class='col text-align-center' >{{ rel.data }}</div>

    <!--                                    <div class='col text-align-right stt_pgt'>{{ ped.get_status_pago_display }}</div>-->
                        </div>
                    {% elif 'n_mesa' in rel %}
                        <hr style="display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;">
                        <div class='row text-align-center pb-1 hover'  style="cursor: pointer"; >
    <!--                                    <div class='col text-align-center'>-->
    <!--                                        {% if ped.status_pago != "P" %}-->
    <!--                                            <input type="checkbox" class="selec" name="{{com.id}}" id="prod_{{ped.id}}" value="{{ped.id}}">-->
    <!--                                        {% endif %}-->
    <!--                                    </div>-->

                            <div class='col text-align-left'>{{ rel.n_mesa }}</div>
                            <div class='col text-align-center'>{{ rel.nome }}</div>
                            <div class='col text-align-center'>R$ {{ rel.valor }}</div>
                            <div class='col text-align-center'>{{ rel.status }}</div>
                            <div class='col text-align-center' >{{ rel.data }}</div>

    <!--                                    <div class='col text-align-right stt_pgt'>{{ ped.get_status_pago_display }}</div>-->
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col">

                </div>
            </div>
        </div>
    </header>
{% endblock %}
</html>