<!DOCTYPE html>
<html>

{% extends "blocks/base.html" %}
{% load static %}
{% block content %}




      <div class="container px-3">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible justify-content-top" id="msg" role="alert" style="background-color:powderblue; font-size: medium; color: rgb(44,62,80) ">
                <button style="font-size: 22px;  align-self: right" type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="section-title mb-4" data-aos="fade-up">
          <h2>Sobre a GBlack Tecnologia</h2>
        </div>

        <div class="p-2 container "><strong>

            Olá muito bem vindo ao meu sistema e que bom que você quis saber um pouco mais sobre quem esta por trás de tudo.
            <br><br><br>
            Meu nome é Guilherme Santos Pereira, tenho 27 anos e sou um desenvolvedor independente, e fundador da Gblack Sistemas.
Meu objetivo com o sistema é agregar valor ao cliente para que possamos ter uma parceria consistente e satisfatória para ambos. A fim de auxiliar estabelecimentos em seus processos interno de pedidos, desenvolvi esse sistema visando um fluxo com facilidade para que a equipe do cliente e sua equipe possa ter maior controle e dinamismo nos processos que consistem da rotina do estabelecimento.
            <br><br>
            A Gblack é uma startup Com pouco tempo de mercado, mais que visa se consolidar conquistando a confiança do cliente. Trabalhamos com desenvolvimento e fornecimento de sistemas SaaS (Software as a service ou Software como serviço), que são sistemas web disponíveis para acesso com internet via assinatura.
A fim de apoiar o gestor em sua rotina, oferecendo controle de comandas, pagamentos e acesso simultâneo de funcionários e clientes com as devidas permissões. Possibilitando assim que o gestor tenha mais praticidade em sua rotina, permitindo que mais atenção possa ser colocada no desenvolvimento do negócio.
            <br><br>
            Buscamos sempre ouvir nosso cliente e suas necessidades a fim de estar sempre evoluindo conforme a necessidade do mercado. Sabemos que é extremamente importante estar em constante evolução junto ao mercado e concorrentes, e acima de tudo, entregar valor para o cliente, com segurança, disponibilidade e integridade das informações e dados
            <br><br>
            Nos dias atuais é fácil enxergar que a tecnologia é um dos maiores aliados em qualquer negócio, facilitando processos, integrando setores e sendo um diferencial das empresas tradicionais. Esse novo modo de negócio tem como valor estar a frente de tecnologias e métodos ultrapassados, que por sua vez entregam menos valor, ou não se enquadram no modelo tecnológico atual mais recente.
Tendo isso como princípio visamos estar alinhados com esse pensamento e entregar produtos que entreguem esses valores ao cliente, para que ele possa se fazer presente ativamente no seu mercado.
            <br><br>
            O nosso modelo de serviço traz as seguintes vantagens:
Redução de custos, pois não tera gastos com instalação ou infraestrutura, o gasto do cliente é apenas com a assinatura, pois como o sistema é hospedado em nuvem, garantindo a disponibilidade e acesso via internet.
Agilidade pois logo após a confirmação do pagamento ja é disponibilizado o acesso para o cliente.
Alem de disponibilizar as versões mais atualizadas do sistema, ou até mesmo a implementação de personalizações, em tempo real, sem interromper a disponibilidade do sistema ou integridade das informações
        </strong></div>

          <div class="section-footer mt-5 justify-content-center section-sm" data-aos="fade-up">
            <b><i>Dúvidas e sugestões, contato rodapé</i></b></span>
            </div>
      </div>

{% endblock %}
</html>